opensearch-finetune-poc.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  OpenSearch Fine-Tuning POC - Automated pipeline for fine-tuning retrieval models
  using Bedrock synthetic data generation and SageMaker training.

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "OpenSearch Configuration"
        Parameters:
          - OpenSearchEndpoint
          - OpenSearchIndexName
          - TextFieldNames
          - FineTuningLambdaInvokeOpenSearchRoleName
      - Label:
          default: "Model Configuration"
        Parameters:
          - ModelName
          - BaseModelId
      - Label:
          default: "Data Source Configuration"
        Parameters:
          - InputType
          - S3CorpusPath
          - SampleQueryUri
          - MaxCorpusDocuments
          - MaxQueryDocuments
      - Label:
          default: "Bedrock Configuration"
        Parameters:
          - BedrockModelId
          - DevLabelModelId
          - QueriesPerDocument
      - Label:
          default: "Training Configuration"
        Parameters:
          - ProcessingInstanceType
          - ScoringInstanceType
          - TrainingInstanceType
          - TrainBatchSize
          - MaxSteps
          - LearningRate
          - MaxSeqLength
          - EvalSteps
          - EarlyStoppingPatience
      - Label:
          default: "Deployment Configuration"
        Parameters:
          - DeployEndpoint
          - RegisterConnector
          - InferenceInstanceType
          - InitialInstanceCount
      - Label:
          default: "Lambda Source Configuration"
        Parameters:
          - DataExtractorLambdaZipUrl
          - S3ValidatorLambdaZipUrl
          - BedrockOrchestratorLambdaZipUrl
          - RegisterModelLambdaZipUrl
          - TrainingScriptZipUrl
    ParameterLabels:
      OpenSearchEndpoint:
        default: "OpenSearch Domain Endpoint"
      OpenSearchIndexName:
        default: "OpenSearch Index Name"
      TextFieldNames:
        default: "Text Field Names (comma-separated)"
      FineTuningLambdaInvokeOpenSearchRoleName:
        default: "Lambda OpenSearch Role Name"
      ModelName:
        default: "Model Name"
      BaseModelId:
        default: "Base Model ID"
      InputType:
        default: "Input Type (s3/opensearch)"
      S3CorpusPath:
        default: "S3 Corpus Path"
      SampleQueryUri:
        default: "Sample Query URI (Optional)"
      MaxCorpusDocuments:
        default: "Max Corpus Documents (BM25 pool)"
      MaxQueryDocuments:
        default: "Max Query Documents (Bedrock)"
      BedrockModelId:
        default: "Bedrock Model ID (Query Generation)"
      DevLabelModelId:
        default: "Bedrock Model ID (Dev Set Labeling)"
      QueriesPerDocument:
        default: "Queries Per Document"
      ProcessingInstanceType:
        default: "Processing Instance Type (CPU)"
      ScoringInstanceType:
        default: "Scoring Instance Type"
      TrainingInstanceType:
        default: "Training Instance Type"
      TrainBatchSize:
        default: "Per-Device Train Batch Size"
      MaxSteps:
        default: "Maximum Training Steps"
      LearningRate:
        default: "Learning Rate"
      MaxSeqLength:
        default: "Max Sequence Length"
      EvalSteps:
        default: "Dev Evaluation Frequency (steps)"
      EarlyStoppingPatience:
        default: "Early Stopping Patience"
      DeployEndpoint:
        default: "Deploy SageMaker Endpoint"
      RegisterConnector:
        default: "Register OpenSearch Connector"
      InferenceInstanceType:
        default: "Inference Instance Type"
      InitialInstanceCount:
        default: "Initial Instance Count"

Parameters:
  # OpenSearch Configuration
  OpenSearchEndpoint:
    Type: String
    Description: "OpenSearch domain endpoint (e.g., https://search-domain.us-east-1.es.amazonaws.com)"
    AllowedPattern: "https://.*|^$"
    ConstraintDescription: "Must be a valid OpenSearch endpoint starting with https:// or empty"
    Default: ""

  FineTuningLambdaInvokeOpenSearchRoleName:
    Type: String
    Default: "FineTuning-LambdaInvokeOpenSearchRole"
    AllowedPattern: "[a-zA-Z0-9+=,.@_-]+"
    ConstraintDescription: "Must use alphanumeric and '+=,.@-_' characters."
    Description: >
      The name of the IAM role used by Lambda to invoke OpenSearch domain.
      IMPORTANT: Before deploying this template, this role must be mapped to OpenSearch
      backend roles with appropriate permissions (e.g., ml_full_access for ML operations,
      or a custom role with index read access). The IAM role will be created by this
      template if it does not exist. You can use the default value or specify a custom name.

  OpenSearchIndexName:
    Type: String
    Description: "Name of the OpenSearch index to extract documents from (required if InputType is 'opensearch')"
    Default: ""

  TextFieldNames:
    Type: String
    Description: "Comma-separated field names containing document text in OpenSearch index (e.g., 'title,content,description'). Fields will be concatenated in order."
    Default: "content"

  # Model Configuration
  ModelName:
    Type: String
    Description: "Unique name for the fine-tuned model (alphanumeric, hyphens only, max 40 chars)"
    AllowedPattern: "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,39}"
    ConstraintDescription: "Max 40 chars, alphanumeric and hyphens only"

  BaseModelId:
    Type: String
    Description: "HuggingFace model ID for base model"
    Default: "BAAI/bge-m3"

  # Data Source Configuration
  InputType:
    Type: String
    Description: "Data source: 's3' for existing corpus or 'opensearch' to extract from index"
    AllowedValues: ["s3", "opensearch"]
    Default: "s3"

  S3CorpusPath:
    Type: String
    Description: "S3 path to corpus JSONL file (required if InputType is 's3'). Format: s3://bucket/path/corpus.jsonl"
    Default: ""

  SampleQueryUri:
    Type: String
    Description: >
      (Optional) S3 URI to a JSONL file with sample queries for few-shot prompting.
      Each line should have 'text', 'query', or 'anchor' field.
      When provided, 10 random samples are included in each prompt to guide query style.
    Default: ""

  MaxCorpusDocuments:
    Type: Number
    Description: "Maximum documents to sample for BM25 hard negative candidate pool"
    Default: 10000000
    MinValue: 1000
    MaxValue: 10000000

  MaxQueryDocuments:
    Type: Number
    Description: "Maximum documents to generate synthetic queries for via Bedrock"
    Default: 20000
    MinValue: 100
    MaxValue: 100000

  # Bedrock Configuration
  BedrockModelId:
    Type: String
    Description: "Bedrock model ID for synthetic query generation"
    Default: "us.anthropic.claude-haiku-4-5-20251001-v1:0"

  DevLabelModelId:
    Type: String
    Description: "Bedrock model ID for dev set LLM relevance labeling"
    Default: "us.anthropic.claude-sonnet-4-6"

  QueriesPerDocument:
    Type: Number
    Description: "Number of synthetic queries to generate per document"
    Default: 5
    MinValue: 1
    MaxValue: 10

  # Training Configuration
  ProcessingInstanceType:
    Type: String
    Description: "SageMaker instance type for data processing (CPU, no GPU needed)"
    Default: "ml.c5.4xlarge"
    AllowedValues:
      - "ml.m5.xlarge"
      - "ml.m5.2xlarge"
      - "ml.m5.4xlarge"
      - "ml.c5.2xlarge"
      - "ml.c5.4xlarge"

  ScoringInstanceType:
    Type: String
    Description: "SageMaker instance type for scoring (cross-encoder teacher)"
    Default: "ml.g5.2xlarge"
    AllowedValues:
      - "ml.g5.xlarge"
      - "ml.g5.2xlarge"
      - "ml.p4d.24xlarge"

  TrainingInstanceType:
    Type: String
    Description: "SageMaker instance type for training"
    Default: "ml.g5.2xlarge"
    AllowedValues:
      - "ml.g5.xlarge"
      - "ml.g5.2xlarge"
      - "ml.p4d.24xlarge"

  TrainBatchSize:
    Type: Number
    Description: "Per-device training batch size"
    Default: 1
    MinValue: 1
    MaxValue: 64

  MaxSteps:
    Type: Number
    Description: "Maximum training steps (-1 for unlimited, trains full epochs with early stopping)"
    Default: -1
    MinValue: -1
    MaxValue: 100000

  EvalSteps:
    Type: Number
    Description: "Evaluate dev set every N training steps"
    Default: 100
    MinValue: 10
    MaxValue: 1000

  EarlyStoppingPatience:
    Type: Number
    Description: "Stop training after N evaluations without improvement"
    Default: 3
    MinValue: 1
    MaxValue: 20

  LearningRate:
    Type: String
    Description: "Learning rate for training"
    Default: "5e-6"

  MaxSeqLength:
    Type: Number
    Description: "Maximum sequence length for tokenization (used in both scoring and training)"
    Default: 512
    MinValue: 128
    MaxValue: 2048

  # Deployment Configuration
  DeployEndpoint:
    Type: String
    Description: "Whether to deploy the fine-tuned model to a SageMaker endpoint"
    AllowedValues: ["true", "false"]
    Default: "true"

  RegisterConnector:
    Type: String
    Description: "Whether to register the SageMaker endpoint as an OpenSearch connector"
    AllowedValues: ["true", "false"]
    Default: "true"

  InferenceInstanceType:
    Type: String
    Description: "SageMaker GPU instance type for inference endpoint (GPU required)"
    Default: "ml.g5.xlarge"
    AllowedValues:
      - "ml.g4dn.xlarge"
      - "ml.g4dn.2xlarge"
      - "ml.g5.xlarge"
      - "ml.g5.2xlarge"

  InitialInstanceCount:
    Type: Number
    Description: "Initial instance count for inference endpoint"
    Default: 1
    MinValue: 1
    MaxValue: 4

  # Lambda Source URLs (GitHub Releases)
  DataExtractorLambdaZipUrl:
    Type: String
    Description: "URL to Data Extractor Lambda zip (GitHub release)"
    Default: "https://github.com/zhichao-aws/opensearch-finetuning/releases/download/v1.0.1/data-extractor-lambda.zip"

  S3ValidatorLambdaZipUrl:
    Type: String
    Description: "URL to S3 Validator Lambda zip (GitHub release)"
    Default: "https://github.com/zhichao-aws/opensearch-finetuning/releases/download/v1.0.1/s3-validator-lambda.zip"

  BedrockOrchestratorLambdaZipUrl:
    Type: String
    Description: "URL to Bedrock Orchestrator Lambda zip (GitHub release)"
    Default: "https://github.com/zhichao-aws/opensearch-finetuning/releases/download/v1.0.1/bedrock-orchestrator-lambda.zip"

  RegisterModelLambdaZipUrl:
    Type: String
    Description: "URL to Register Model Lambda zip (GitHub release)"
    Default: "https://github.com/zhichao-aws/opensearch-finetuning/releases/download/v1.0.1/register-model-lambda.zip"

  TrainingScriptZipUrl:
    Type: String
    Description: "URL to training script tar.gz (GitHub release)"
    Default: "https://github.com/zhichao-aws/opensearch-finetuning/releases/download/v1.0.1/training-script.tar.gz"

Conditions:
  UseOpenSearchInput: !Equals [!Ref InputType, "opensearch"]
  UseS3Input: !Equals [!Ref InputType, "s3"]

Mappings:
  RegionMap:
    us-east-1:
      TrainingImageGPU: "763104351884.dkr.ecr.us-east-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "683313688378.dkr.ecr.us-east-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    us-east-2:
      TrainingImageGPU: "763104351884.dkr.ecr.us-east-2.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "257758044811.dkr.ecr.us-east-2.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    us-west-1:
      TrainingImageGPU: "763104351884.dkr.ecr.us-west-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "746614075791.dkr.ecr.us-west-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    us-west-2:
      TrainingImageGPU: "763104351884.dkr.ecr.us-west-2.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "246618743249.dkr.ecr.us-west-2.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    eu-west-1:
      TrainingImageGPU: "763104351884.dkr.ecr.eu-west-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "141502667606.dkr.ecr.eu-west-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    eu-central-1:
      TrainingImageGPU: "763104351884.dkr.ecr.eu-central-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "492215442770.dkr.ecr.eu-central-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    ap-northeast-1:
      TrainingImageGPU: "763104351884.dkr.ecr.ap-northeast-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "354813040037.dkr.ecr.ap-northeast-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    ap-southeast-1:
      TrainingImageGPU: "763104351884.dkr.ecr.ap-southeast-1.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "121021644041.dkr.ecr.ap-southeast-1.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"
    ap-southeast-2:
      TrainingImageGPU: "763104351884.dkr.ecr.ap-southeast-2.amazonaws.com/pytorch-training:2.6-gpu-py312"
      TEIImage: "783357654285.dkr.ecr.ap-southeast-2.amazonaws.com/tei:2.0.1-tei1.8.2-gpu-py310-cu122-ubuntu22.04"

Resources:
  # =============================================================================
  # S3 Bucket
  # =============================================================================
  DataBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Sub "opensearch-finetune-${AWS::StackName}-${AWS::AccountId}"
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Purpose
          Value: "OpenSearch Fine-Tuning POC"

  # =============================================================================
  # IAM Roles
  # =============================================================================

  # Lambda Execution Role (for Lambdas that don't need OpenSearch access)
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-LambdaExecutionRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - !Sub "arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !GetAtt DataBucket.Arn
                  - !Sub "${DataBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource: "*"
        - PolicyName: BedrockAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:CreateModelInvocationJob
                  - bedrock:GetModelInvocationJob
                  - bedrock:ListModelInvocationJobs
                  - bedrock:StopModelInvocationJob
                Resource: "*"
        - PolicyName: IAMPassRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: iam:PassRole
                Resource: !GetAtt BedrockBatchRole.Arn

  # Lambda Role for OpenSearch Operations (Data Extraction & Model Registration)
  # Created via helper Lambda to avoid failures when the role already exists in another stack

  # Bedrock Batch Job Role
  BedrockBatchRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-BedrockBatchRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref AWS::AccountId
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt DataBucket.Arn
                  - !Sub "${DataBucket.Arn}/*"
        - PolicyName: BedrockInvokeModel
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource: "*"

  # SageMaker Training Role
  SageMakerTrainingRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-SageMakerTrainingRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: sagemaker.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - !Sub "arn:${AWS::Partition}:iam::aws:policy/AmazonSageMakerFullAccess"
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !GetAtt DataBucket.Arn
                  - !Sub "${DataBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource: "*"

  # SageMaker Endpoint Role
  SageMakerEndpointRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-SageMakerEndpointRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: sagemaker.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3ModelAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt DataBucket.Arn
                  - !Sub "${DataBucket.Arn}/*"
        - PolicyName: ECRAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecr:GetAuthorizationToken
                  - ecr:BatchCheckLayerAvailability
                  - ecr:GetDownloadUrlForLayer
                  - ecr:BatchGetImage
                Resource: "*"
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/sagemaker/*"

  # OpenSearch Remote Inference Role
  OpenSearchRemoteInferenceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "OpenSearch-RemoteInference-${AWS::StackName}"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: es.amazonaws.com
            Action: sts:AssumeRole
          - Effect: Allow
            Principal:
              Service: es.aws.internal
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SageMakerInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sagemaker:InvokeEndpoint
                  - sagemaker:InvokeEndpointAsync
                Resource: "*"

  # Step Functions Execution Role
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-StepFunctionsRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt DataExtractorLambda.Arn
                  - !GetAtt S3ValidatorLambda.Arn
                  - !GetAtt BedrockOrchestratorLambda.Arn
                  - !GetAtt RegisterModelLambda.Arn
        - PolicyName: SageMakerAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sagemaker:CreateTrainingJob
                  - sagemaker:DescribeTrainingJob
                  - sagemaker:StopTrainingJob
                  - sagemaker:CreateModel
                  - sagemaker:DescribeModel
                  - sagemaker:CreateEndpointConfig
                  - sagemaker:DescribeEndpointConfig
                  - sagemaker:CreateEndpoint
                  - sagemaker:DescribeEndpoint
                  - sagemaker:DeleteEndpoint
                  - sagemaker:DeleteEndpointConfig
                  - sagemaker:DeleteModel
                  - sagemaker:AddTags
                Resource: "*"
        - PolicyName: PassRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !GetAtt SageMakerTrainingRole.Arn
                  - !GetAtt SageMakerEndpointRole.Arn
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"
        - PolicyName: EventsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource: !Sub "arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForSageMakerTrainingJobsRule"

  # Helper Lambda Role
  HelperLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-HelperLambdaRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: S3AndLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:${AWS::Partition}:logs:*:*:*"
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt DataBucket.Arn
                  - !Sub "${DataBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - iam:ListRoles
                  - iam:GetRole
                  - iam:CreateRole
                  - iam:GetRolePolicy
                  - iam:PutRolePolicy
                  - iam:PassRole
                Resource: "*"

  # Trigger Lambda Role (for auto-starting workflow)
  TriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-TriggerLambdaRole"
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsAndLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:${AWS::Partition}:logs:*:*:*"
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: "*"

  # =============================================================================
  # Helper Lambda Function (downloads zips from GitHub)
  # =============================================================================
  HelperLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-HelperLambda"
      Runtime: python3.12
      Handler: index.lambda_handler
      Timeout: 300
      MemorySize: 256
      Role: !GetAtt HelperLambdaRole.Arn
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          import urllib.request
          import os
          import ssl
          import time

          def download_with_retry(url, tmp_path, max_retries=3, delay=2):
              for attempt in range(max_retries):
                  try:
                      urllib.request.urlretrieve(url, tmp_path)
                      return
                  except Exception as e:
                      print(f"Download attempt {attempt + 1}/{max_retries} failed: {e}")
                      if attempt < max_retries - 1:
                          time.sleep(delay * (attempt + 1))
                      else:
                          raise

          def lambda_handler(event, context):
              print(f"Event: {event}")
              request_type = event['RequestType']

              if request_type == 'Delete':
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  return

              if request_type == 'Update':
                  # Re-download on update
                  pass

              try:
                  bucket = event['ResourceProperties']['S3Bucket']
                  urls = event['ResourceProperties']['ZipUrls']
                  s3 = boto3.client('s3')

                  # Create SSL context that doesn't verify (for GitHub redirects)
                  ssl_context = ssl.create_default_context()

                  for url_config in urls:
                      url = url_config['url']
                      s3_key = url_config['s3_key']
                      tmp_path = f"/tmp/{os.path.basename(s3_key)}"

                      print(f"Downloading {url} to {tmp_path}")
                      download_with_retry(url, tmp_path)

                      print(f"Uploading to s3://{bucket}/{s3_key}")
                      s3.upload_file(tmp_path, bucket, s3_key)

                      # Clean up temp file
                      os.remove(tmp_path)

                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {'Status': 'SUCCESS'})
              except Exception as e:
                  print(f"Error: {str(e)}")
                  cfnresponse.send(event, context, cfnresponse.FAILED, {'Error': str(e)})

  # Custom Resource to Download Lambda Zips
  DownloadLambdaZips:
    Type: Custom::DownloadLambdaZips
    DependsOn: [DataBucket, HelperLambdaFunction]
    Properties:
      ServiceToken: !GetAtt HelperLambdaFunction.Arn
      S3Bucket: !Ref DataBucket
      ZipUrls:
        - url: !Ref DataExtractorLambdaZipUrl
          s3_key: "lambda-zips/data-extractor.zip"
        - url: !Ref S3ValidatorLambdaZipUrl
          s3_key: "lambda-zips/s3-validator.zip"
        - url: !Ref BedrockOrchestratorLambdaZipUrl
          s3_key: "lambda-zips/bedrock-orchestrator.zip"
        - url: !Ref RegisterModelLambdaZipUrl
          s3_key: "lambda-zips/register-model.zip"
        - url: !Ref TrainingScriptZipUrl
          s3_key: "training-scripts/training-script.tar.gz"

  # =============================================================================
  # Role Setup Lambda (creates FineTuningLambdaInvokeOpenSearchRole if not exists)
  # =============================================================================
  RoleSetupLambdaFunction:
    Type: AWS::Lambda::Function
    DependsOn: [HelperLambdaRole, OpenSearchRemoteInferenceRole]
    Properties:
      FunctionName: !Sub "${AWS::StackName}-RoleSetupLambda"
      Runtime: python3.12
      Handler: index.lambda_handler
      Timeout: 120
      MemorySize: 256
      Role: !GetAtt HelperLambdaRole.Arn
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          import json
          import time

          def lambda_handler(event, context):
              print(f"Event: {event}")
              if event['RequestType'] in ('Delete', 'Update'):
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  return

              try:
                  props = event['ResourceProperties']
                  role_name = props['RoleName']
                  os_invoke_role_arn = props['OpenSearchInvokeModelRoleArn']
                  bucket_arn = props['DataBucketArn']
                  iam = boto3.client('iam')

                  if not role_exists(iam, role_name):
                      create_role(iam, role_name, bucket_arn)
                      print(f"Created role: {role_name}")
                  else:
                      print(f"Role {role_name} already exists, ensuring policies")
                      ensure_s3_policy(iam, role_name, bucket_arn)

                  ensure_passrole_policy(iam, role_name, os_invoke_role_arn)

                  role_arn = iam.get_role(RoleName=role_name)['Role']['Arn']
                  cfnresponse.send(event, context, cfnresponse.SUCCESS,
                      {'RoleArn': role_arn})
              except Exception as e:
                  print(f"Error: {e}")
                  cfnresponse.send(event, context, cfnresponse.FAILED, {'Error': str(e)})

          def role_exists(iam, role_name):
              try:
                  iam.get_role(RoleName=role_name)
                  return True
              except iam.exceptions.NoSuchEntityException:
                  return False

          def create_role(iam, role_name, bucket_arn):
              region = boto3.session.Session().region_name
              partition = 'aws-cn' if region.startswith('cn-') else 'aws-us-gov' if region.startswith('us-gov-') else 'aws'
              iam.create_role(
                  RoleName=role_name,
                  AssumeRolePolicyDocument=json.dumps({
                      "Version": "2012-10-17",
                      "Statement": [{
                          "Effect": "Allow",
                          "Principal": {"Service": "lambda.amazonaws.com"},
                          "Action": "sts:AssumeRole"
                      }]
                  }),
                  Description='Role for Lambda to invoke OpenSearch for fine-tuning')
              time.sleep(5)
              iam.put_role_policy(
                  RoleName=role_name,
                  PolicyName='CloudWatchLogs',
                  PolicyDocument=json.dumps({
                      "Version": "2012-10-17",
                      "Statement": [
                          {"Effect": "Allow", "Action": [
                              "logs:CreateLogGroup", "logs:CreateLogStream", "logs:PutLogEvents"
                          ], "Resource": "*"}
                      ]
                  }))
              iam.put_role_policy(
                  RoleName=role_name,
                  PolicyName='OpenSearchAccess',
                  PolicyDocument=json.dumps({
                      "Version": "2012-10-17",
                      "Statement": [
                          {"Effect": "Allow", "Action": [
                              "es:ESHttpGet", "es:ESHttpPost", "es:ESHttpPut", "es:ESHttpDelete"
                          ], "Resource": f"arn:{partition}:es:*:*:*"}
                      ]
                  }))
              iam.put_role_policy(
                  RoleName=role_name,
                  PolicyName='S3Access',
                  PolicyDocument=json.dumps({
                      "Version": "2012-10-17",
                      "Statement": [
                          {"Effect": "Allow", "Action": [
                              "s3:GetObject", "s3:PutObject", "s3:ListBucket"
                          ], "Resource": [bucket_arn, f"{bucket_arn}/*"]}
                      ]
                  }))
              time.sleep(5)

          def ensure_s3_policy(iam, role_name, bucket_arn):
              try:
                  existing = iam.get_role_policy(RoleName=role_name, PolicyName='S3Access')
                  policy = existing['PolicyDocument']
                  for stmt in policy.get('Statement', []):
                      res = stmt.get('Resource', [])
                      if bucket_arn in res:
                          print("S3 policy already includes this bucket")
                          return
                  policy['Statement'].append(
                      {"Effect": "Allow", "Action": [
                          "s3:GetObject", "s3:PutObject", "s3:ListBucket"
                      ], "Resource": [bucket_arn, f"{bucket_arn}/*"]})
                  iam.put_role_policy(RoleName=role_name, PolicyName='S3Access',
                      PolicyDocument=json.dumps(policy))
              except iam.exceptions.NoSuchEntityException:
                  iam.put_role_policy(
                      RoleName=role_name,
                      PolicyName='S3Access',
                      PolicyDocument=json.dumps({
                          "Version": "2012-10-17",
                          "Statement": [
                              {"Effect": "Allow", "Action": [
                                  "s3:GetObject", "s3:PutObject", "s3:ListBucket"
                              ], "Resource": [bucket_arn, f"{bucket_arn}/*"]}
                          ]
                      }))
              time.sleep(5)

          def ensure_passrole_policy(iam, role_name, os_invoke_role_arn):
              policy_name = 'PassRoleForOpenSearchRemoteInference'
              try:
                  existing = iam.get_role_policy(RoleName=role_name, PolicyName=policy_name)
                  policy = existing['PolicyDocument']
                  for stmt in policy.get('Statement', []):
                      if stmt.get('Resource') == os_invoke_role_arn:
                          print("PassRole policy already exists for this role")
                          return
                  policy['Statement'].append(
                      {"Effect": "Allow", "Action": ["iam:PassRole"], "Resource": os_invoke_role_arn})
                  iam.put_role_policy(RoleName=role_name, PolicyName=policy_name,
                      PolicyDocument=json.dumps(policy))
              except iam.exceptions.NoSuchEntityException:
                  iam.put_role_policy(
                      RoleName=role_name,
                      PolicyName=policy_name,
                      PolicyDocument=json.dumps({
                          "Version": "2012-10-17",
                          "Statement": [
                              {"Effect": "Allow", "Action": ["iam:PassRole"], "Resource": os_invoke_role_arn}
                          ]
                      }))
              time.sleep(5)
              print(f"PassRole policy updated for {os_invoke_role_arn}")

  SetupLambdaOpenSearchRole:
    Type: Custom::SetupRole
    DependsOn: [RoleSetupLambdaFunction, OpenSearchRemoteInferenceRole]
    Properties:
      ServiceToken: !GetAtt RoleSetupLambdaFunction.Arn
      RoleName: !Ref FineTuningLambdaInvokeOpenSearchRoleName
      OpenSearchInvokeModelRoleArn: !GetAtt OpenSearchRemoteInferenceRole.Arn
      DataBucketArn: !GetAtt DataBucket.Arn

  # =============================================================================
  # Lambda Functions
  # =============================================================================

  # Data Extractor Lambda
  # Uses FineTuningLambdaInvokeOpenSearchRole which must be mapped to OpenSearch backend roles
  DataExtractorLambda:
    Type: AWS::Lambda::Function
    DependsOn: [DownloadLambdaZips, SetupLambdaOpenSearchRole]
    Properties:
      FunctionName: !Sub "${AWS::StackName}-DataExtractor"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 900
      MemorySize: 8192
      Role:
        Fn::Sub: "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/${FineTuningLambdaInvokeOpenSearchRoleName}"
      Code:
        S3Bucket: !Ref DataBucket
        S3Key: "lambda-zips/data-extractor.zip"
      Environment:
        Variables:
          DATA_BUCKET: !Ref DataBucket
          MAX_DOCUMENTS: !Ref MaxCorpusDocuments

  # S3 Data Validator Lambda
  S3ValidatorLambda:
    Type: AWS::Lambda::Function
    DependsOn: DownloadLambdaZips
    Properties:
      FunctionName: !Sub "${AWS::StackName}-S3Validator"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 900
      MemorySize: 512
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        S3Bucket: !Ref DataBucket
        S3Key: "lambda-zips/s3-validator.zip"

  # Bedrock Batch Orchestrator Lambda
  BedrockOrchestratorLambda:
    Type: AWS::Lambda::Function
    DependsOn: DownloadLambdaZips
    Properties:
      FunctionName: !Sub "${AWS::StackName}-BedrockOrchestrator"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 900
      MemorySize: 8192
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        S3Bucket: !Ref DataBucket
        S3Key: "lambda-zips/bedrock-orchestrator.zip"
      Environment:
        Variables:
          DATA_BUCKET: !Ref DataBucket
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          DEV_LABEL_MODEL_ID: !Ref DevLabelModelId
          QUERIES_PER_DOCUMENT: !Ref QueriesPerDocument
          BEDROCK_BATCH_ROLE_ARN: !GetAtt BedrockBatchRole.Arn

  # Register Model Lambda
  # Uses FineTuningLambdaInvokeOpenSearchRole which must be mapped to OpenSearch backend roles
  RegisterModelLambda:
    Type: AWS::Lambda::Function
    DependsOn: [DownloadLambdaZips, SetupLambdaOpenSearchRole]
    Properties:
      FunctionName: !Sub "${AWS::StackName}-RegisterModel"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 900
      MemorySize: 512
      Role:
        Fn::Sub: "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/${FineTuningLambdaInvokeOpenSearchRoleName}"
      Code:
        S3Bucket: !Ref DataBucket
        S3Key: "lambda-zips/register-model.zip"
      Environment:
        Variables:
          DATA_BUCKET: !Ref DataBucket
          OPENSEARCH_REMOTE_INFERENCE_ROLE_ARN: !GetAtt OpenSearchRemoteInferenceRole.Arn

  # =============================================================================
  # CloudWatch Log Group for State Machine
  # =============================================================================
  StateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/stepfunctions/${AWS::StackName}-FineTuneStateMachine"
      RetentionInDays: 14

  # =============================================================================
  # Step Functions State Machine
  # =============================================================================
  FineTuneStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - DataExtractorLambda
      - S3ValidatorLambda
      - BedrockOrchestratorLambda
      - RegisterModelLambda
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-FineTuneStateMachine"
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StateMachineLogGroup.Arn
        Level: ALL
        IncludeExecutionData: true
      TracingConfiguration:
        Enabled: true
      DefinitionString:
        Fn::Sub:
          - |
            {
              "Comment": "OpenSearch Fine-Tuning Pipeline - Data Prep, Training, Deployment, Registration",
              "StartAt": "SetDefaults",
              "States": {
                "SetDefaults": {
                  "Type": "Pass",
                  "Comment": "Set default values for all configurable parameters",
                  "Result": {
                    "scoring_config": {
                      "scoring_instance_type": "${ScoringInstanceType}",
                      "scoring_batch_size": "4",
                      "scoring_max_negatives": "4"
                    },
                    "training_config": {
                      "training_instance_type": "${TrainingInstanceType}",
                      "processing_instance_type": "${ProcessingInstanceType}",
                      "max_steps": "${MaxSteps}",
                      "learning_rate": "${LearningRate}",
                      "max_seq_length": "${MaxSeqLength}",
                      "train_batch_size": "${TrainBatchSize}",
                      "total_batch_size": "128",
                      "num_negatives": "2",
                      "temperature": "1.0",
                      "teacher_score_scale_factor": "0.025",
                      "eval_steps": "${EvalSteps}",
                      "early_stopping_patience": "${EarlyStoppingPatience}"
                    },
                    "deployment_config": {
                      "inference_instance_type": "${InferenceInstanceType}",
                      "initial_instance_count": ${InitialInstanceCount}
                    }
                  },
                  "ResultPath": "$.defaults",
                  "Next": "MergeConfig"
                },
                "MergeConfig": {
                  "Type": "Pass",
                  "Comment": "Merge user-provided configs with defaults (user values override defaults)",
                  "Parameters": {
                    "input_type.$": "$.input_type",
                    "model_name.$": "$.model_name",
                    "base_model_id.$": "$.base_model_id",
                    "opensearch_endpoint.$": "$.opensearch_endpoint",
                    "deploy_endpoint.$": "$.deploy_endpoint",
                    "register_connector.$": "$.register_connector",
                    "max_corpus_documents.$": "$.max_corpus_documents",
                    "max_query_documents.$": "$.max_query_documents",
                    "s3_corpus_path.$": "$.s3_corpus_path",
                    "index_name.$": "$.index_name",
                    "text_fields.$": "$.text_fields",
                    "sample_query_uri.$": "$.sample_query_uri",
                    "scoring_config.$": "States.JsonMerge($.defaults.scoring_config, $.scoring_config, false)",
                    "training_config.$": "States.JsonMerge($.defaults.training_config, $.training_config, false)",
                    "deployment_config.$": "States.JsonMerge($.defaults.deployment_config, $.deployment_config, false)"
                  },
                  "Next": "ValidateDeployRegister"
                },
                "ValidateDeployRegister": {
                  "Type": "Choice",
                  "Comment": "Fail if register_connector=true but deploy_endpoint=false (endpoint required for registration)",
                  "Choices": [
                    {
                      "And": [
                        {
                          "Variable": "$.deploy_endpoint",
                          "StringEquals": "false"
                        },
                        {
                          "Variable": "$.register_connector",
                          "StringEquals": "true"
                        }
                      ],
                      "Next": "FailInvalidDeployRegister"
                    }
                  ],
                  "Default": "DataSourceChoice"
                },
                "FailInvalidDeployRegister": {
                  "Type": "Fail",
                  "Cause": "Cannot register connector without deploying endpoint. Set deploy_endpoint=true or register_connector=false.",
                  "Error": "InvalidDeployRegisterCombination"
                },
                "DataSourceChoice": {
                  "Type": "Choice",
                  "Comment": "Route based on input_type: s3 or opensearch",
                  "Choices": [
                    {
                      "Variable": "$.input_type",
                      "StringEquals": "opensearch",
                      "Next": "ExtractFromOpenSearch"
                    },
                    {
                      "Variable": "$.input_type",
                      "StringEquals": "s3",
                      "Next": "ValidateS3Corpus"
                    }
                  ],
                  "Default": "FailInvalidInputType"
                },
                "FailInvalidInputType": {
                  "Type": "Fail",
                  "Cause": "Invalid input_type. Must be 's3' or 'opensearch'",
                  "Error": "InvalidInputType"
                },
                "ExtractFromOpenSearch": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${DataExtractorLambdaArn}",
                    "Payload": {
                      "opensearch_endpoint.$": "$.opensearch_endpoint",
                      "index_name.$": "$.index_name",
                      "text_fields.$": "$.text_fields",
                      "max_documents.$": "$.max_corpus_documents",
                      "model_name.$": "$.model_name"
                    }
                  },
                  "ResultSelector": {
                    "s3_path.$": "$.Payload.s3_path",
                    "document_count.$": "$.Payload.document_count"
                  },
                  "ResultPath": "$.extraction_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "SetDocumentsPathFromOpenSearch"
                },
                "ValidateS3Corpus": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${S3ValidatorLambdaArn}",
                    "Payload": {
                      "s3_corpus_path.$": "$.s3_corpus_path"
                    }
                  },
                  "ResultSelector": {
                    "s3_path.$": "$.Payload.s3_corpus_path",
                    "document_count.$": "$.Payload.document_count"
                  },
                  "ResultPath": "$.validation_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "SetDocumentsPathFromS3"
                },
                "SetDocumentsPathFromOpenSearch": {
                  "Type": "Pass",
                  "Parameters": {
                    "documents_s3_path.$": "$.extraction_result.s3_path",
                    "document_count.$": "$.extraction_result.document_count",
                    "input_type.$": "$.input_type",
                    "model_name.$": "$.model_name",
                    "base_model_id.$": "$.base_model_id",
                    "opensearch_endpoint.$": "$.opensearch_endpoint",
                    "deploy_endpoint.$": "$.deploy_endpoint",
                    "register_connector.$": "$.register_connector",
                    "max_corpus_documents.$": "$.max_corpus_documents",
                    "max_query_documents.$": "$.max_query_documents",
                    "sample_query_uri.$": "$.sample_query_uri",
                    "scoring_config.$": "$.scoring_config",
                    "training_config.$": "$.training_config",
                    "deployment_config.$": "$.deployment_config"
                  },
                  "Next": "PrepareBedrockInput"
                },
                "SetDocumentsPathFromS3": {
                  "Type": "Pass",
                  "Parameters": {
                    "documents_s3_path.$": "$.validation_result.s3_path",
                    "document_count.$": "$.validation_result.document_count",
                    "input_type.$": "$.input_type",
                    "model_name.$": "$.model_name",
                    "base_model_id.$": "$.base_model_id",
                    "opensearch_endpoint.$": "$.opensearch_endpoint",
                    "deploy_endpoint.$": "$.deploy_endpoint",
                    "register_connector.$": "$.register_connector",
                    "max_corpus_documents.$": "$.max_corpus_documents",
                    "max_query_documents.$": "$.max_query_documents",
                    "sample_query_uri.$": "$.sample_query_uri",
                    "scoring_config.$": "$.scoring_config",
                    "training_config.$": "$.training_config",
                    "deployment_config.$": "$.deployment_config"
                  },
                  "Next": "PrepareBedrockInput"
                },
                "PrepareBedrockInput": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${BedrockOrchestratorLambdaArn}",
                    "Payload": {
                      "operation": "prepare_input",
                      "s3_documents_path.$": "$.documents_s3_path",
                      "max_documents.$": "$.max_query_documents",
                      "sample_query_uri.$": "$.sample_query_uri"
                    }
                  },
                  "ResultSelector": {
                    "s3_input_path.$": "$.Payload.s3_input_path",
                    "record_count.$": "$.Payload.record_count"
                  },
                  "ResultPath": "$.bedrock_input_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "CreateBedrockBatchJob"
                },
                "CreateBedrockBatchJob": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${BedrockOrchestratorLambdaArn}",
                    "Payload": {
                      "operation": "create_job",
                      "s3_input_path.$": "$.bedrock_input_result.s3_input_path"
                    }
                  },
                  "ResultSelector": {
                    "job_arn.$": "$.Payload.job_arn",
                    "job_id.$": "$.Payload.job_id"
                  },
                  "ResultPath": "$.bedrock_job_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "WaitForBedrockJob"
                },
                "WaitForBedrockJob": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "CheckBedrockJobStatus"
                },
                "CheckBedrockJobStatus": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${BedrockOrchestratorLambdaArn}",
                    "Payload": {
                      "operation": "check_status",
                      "job_arn.$": "$.bedrock_job_result.job_arn"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "output_s3_path.$": "$.Payload.output_s3_path",
                    "message.$": "$.Payload.message"
                  },
                  "ResultPath": "$.bedrock_status_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "BedrockStatusChoice"
                },
                "BedrockStatusChoice": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.bedrock_status_result.status",
                      "StringEquals": "Completed",
                      "Next": "ProcessBedrockOutput"
                    },
                    {
                      "Variable": "$.bedrock_status_result.status",
                      "StringEquals": "Failed",
                      "Next": "FailBedrockJob"
                    },
                    {
                      "Variable": "$.bedrock_status_result.status",
                      "StringEquals": "Stopped",
                      "Next": "FailBedrockJob"
                    }
                  ],
                  "Default": "WaitForBedrockJob"
                },
                "FailBedrockJob": {
                  "Type": "Fail",
                  "Cause": "Bedrock batch job failed or was stopped",
                  "Error": "BedrockJobFailed"
                },
                "ProcessBedrockOutput": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sagemaker:createTrainingJob",
                  "Comment": "Process Bedrock output and create training data with BM25 hard negatives (runs as SageMaker job to avoid Lambda timeout)",
                  "Parameters": {
                    "TrainingJobName.$": "States.Format('process-{}', $$.Execution.Name)",
                    "AlgorithmSpecification": {
                      "TrainingImage": "${TrainingImageGPU}",
                      "TrainingInputMode": "File"
                    },
                    "OutputDataConfig": {
                      "S3OutputPath.$": "States.Format('s3://${DataBucket}/{}/process-output/', $.model_name)"
                    },
                    "ResourceConfig": {
                      "InstanceCount": 1,
                      "InstanceType.$": "$.training_config.processing_instance_type",
                      "VolumeSizeInGB": 100
                    },
                    "StoppingCondition": {
                      "MaxRuntimeInSeconds": 86400
                    },
                    "RoleArn": "${SageMakerTrainingRoleArn}",
                    "HyperParameters": {
                      "sagemaker_program": "process_output.py",
                      "sagemaker_submit_directory": "s3://${DataBucket}/training-scripts/training-script.tar.gz",
                      "output-s3-path.$": "$.bedrock_status_result.output_s3_path",
                      "documents-s3-path.$": "$.documents_s3_path",
                      "num-negatives": "20",
                      "max-corpus-documents.$": "States.Format('{}', $.max_corpus_documents)",
                      "data-bucket": "${DataBucket}",
                      "model-name-prefix.$": "$.model_name"
                    },
                    "EnableManagedSpotTraining": false
                  },
                  "ResultPath": null,
                  "Next": "WaitForProcessing"
                },
                "WaitForProcessing": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "CheckProcessingStatus"
                },
                "CheckProcessingStatus": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:sagemaker:describeTrainingJob",
                  "Parameters": {
                    "TrainingJobName.$": "States.Format('process-{}', $$.Execution.Name)"
                  },
                  "ResultSelector": {
                    "TrainingJobStatus.$": "$.TrainingJobStatus",
                    "S3ModelArtifacts.$": "$.ModelArtifacts.S3ModelArtifacts"
                  },
                  "ResultPath": "$.process_status",
                  "Retry": [
                    {
                      "ErrorEquals": ["SageMaker.SageMakerException"],
                      "IntervalSeconds": 10,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "ProcessingStatusChoice"
                },
                "ProcessingStatusChoice": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.process_status.TrainingJobStatus",
                      "StringEquals": "Completed",
                      "Next": "SetProcessOutput"
                    },
                    {
                      "Variable": "$.process_status.TrainingJobStatus",
                      "StringEquals": "Failed",
                      "Next": "FailProcessing"
                    },
                    {
                      "Variable": "$.process_status.TrainingJobStatus",
                      "StringEquals": "Stopped",
                      "Next": "FailProcessing"
                    }
                  ],
                  "Default": "WaitForProcessing"
                },
                "FailProcessing": {
                  "Type": "Fail",
                  "Cause": "SageMaker processing job failed or stopped",
                  "Error": "ProcessingJobFailed"
                },
                "SetProcessOutput": {
                  "Type": "Pass",
                  "Parameters": {
                    "training_data_s3_path.$": "$.process_status.S3ModelArtifacts"
                  },
                  "ResultPath": "$.process_output_result",
                  "Next": "ParallelScoringAndLabeling"
                },
                "ParallelScoringAndLabeling": {
                  "Type": "Parallel",
                  "Comment": "Run cross-encoder scoring (train) and LLM dev labeling (Bedrock batch) in parallel",
                  "Branches": [
                    {
                      "StartAt": "StartSageMakerScoring",
                      "States": {
                        "StartSageMakerScoring": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::sagemaker:createTrainingJob",
                          "Comment": "Generate teacher scores using cross-encoder",
                          "Parameters": {
                            "TrainingJobName.$": "States.Format('scoring-{}', $$.Execution.Name)",
                            "AlgorithmSpecification": {
                              "TrainingImage": "${TrainingImageGPU}",
                              "TrainingInputMode": "File"
                            },
                            "InputDataConfig": [
                              {
                                "ChannelName": "training",
                                "DataSource": {
                                  "S3DataSource": {
                                    "S3Uri.$": "$.process_output_result.training_data_s3_path",
                                    "S3DataType": "S3Prefix"
                                  }
                                }
                              }
                            ],
                            "OutputDataConfig": {
                              "S3OutputPath.$": "States.Format('s3://${DataBucket}/{}/scoring-output/', $.model_name)"
                            },
                            "ResourceConfig": {
                              "InstanceCount": 1,
                              "InstanceType.$": "$.scoring_config.scoring_instance_type",
                              "VolumeSizeInGB": 100
                            },
                            "StoppingCondition": {
                              "MaxRuntimeInSeconds": 86400
                            },
                            "RoleArn": "${SageMakerTrainingRoleArn}",
                            "HyperParameters": {
                              "sagemaker_program": "score.py",
                              "sagemaker_submit_directory": "s3://${DataBucket}/training-scripts/training-script.tar.gz",
                              "batch-size.$": "States.Format('{}', $.scoring_config.scoring_batch_size)",
                              "max-length.$": "States.Format('{}', $.training_config.max_seq_length)",
                              "max-negatives.$": "States.Format('{}', $.scoring_config.scoring_max_negatives)"
                            },
                            "EnableManagedSpotTraining": false
                          },
                          "ResultPath": null,
                          "Next": "WaitForScoring"
                        },
                        "WaitForScoring": {
                          "Type": "Wait",
                          "Seconds": 60,
                          "Next": "CheckScoringStatus"
                        },
                        "CheckScoringStatus": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::aws-sdk:sagemaker:describeTrainingJob",
                          "Parameters": {
                            "TrainingJobName.$": "States.Format('scoring-{}', $$.Execution.Name)"
                          },
                          "ResultSelector": {
                            "TrainingJobStatus.$": "$.TrainingJobStatus",
                            "S3ModelArtifacts.$": "$.ModelArtifacts.S3ModelArtifacts"
                          },
                          "ResultPath": "$.scoring_status",
                          "Retry": [
                            {
                              "ErrorEquals": ["SageMaker.SageMakerException"],
                              "IntervalSeconds": 10,
                              "MaxAttempts": 3,
                              "BackoffRate": 2
                            }
                          ],
                          "Next": "ScoringStatusChoice"
                        },
                        "ScoringStatusChoice": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "Variable": "$.scoring_status.TrainingJobStatus",
                              "StringEquals": "Completed",
                              "Next": "SetScoringOutput"
                            },
                            {
                              "Variable": "$.scoring_status.TrainingJobStatus",
                              "StringEquals": "Failed",
                              "Next": "FailScoring"
                            },
                            {
                              "Variable": "$.scoring_status.TrainingJobStatus",
                              "StringEquals": "Stopped",
                              "Next": "FailScoring"
                            }
                          ],
                          "Default": "WaitForScoring"
                        },
                        "FailScoring": {
                          "Type": "Fail",
                          "Cause": "SageMaker scoring job failed or stopped",
                          "Error": "ScoringJobFailed"
                        },
                        "SetScoringOutput": {
                          "Type": "Pass",
                          "Parameters": {
                            "scoring_artifacts.$": "$.scoring_status.S3ModelArtifacts"
                          },
                          "End": true
                        }
                      }
                    },
                    {
                      "StartAt": "CreateDevLabelJob",
                      "States": {
                        "CreateDevLabelJob": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${BedrockOrchestratorLambdaArn}",
                            "Payload": {
                              "operation": "create_dev_label_job",
                              "dev_bedrock_s3_path.$": "States.Format('s3://${DataBucket}/{}/dev-labeling/input/dev_bedrock_input.jsonl', $.model_name)",
                              "model_name.$": "$.model_name"
                            }
                          },
                          "ResultSelector": {
                            "job_arn.$": "$.Payload.job_arn",
                            "job_id.$": "$.Payload.job_id"
                          },
                          "ResultPath": "$.dev_label_job",
                          "Retry": [
                            {
                              "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                              "IntervalSeconds": 2,
                              "MaxAttempts": 3,
                              "BackoffRate": 2
                            }
                          ],
                          "Next": "WaitForDevLabelJob"
                        },
                        "WaitForDevLabelJob": {
                          "Type": "Wait",
                          "Seconds": 60,
                          "Next": "CheckDevLabelJobStatus"
                        },
                        "CheckDevLabelJobStatus": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${BedrockOrchestratorLambdaArn}",
                            "Payload": {
                              "operation": "check_status",
                              "job_arn.$": "$.dev_label_job.job_arn"
                            }
                          },
                          "ResultSelector": {
                            "status.$": "$.Payload.status",
                            "output_s3_path.$": "$.Payload.output_s3_path",
                            "message.$": "$.Payload.message"
                          },
                          "ResultPath": "$.dev_label_status",
                          "Retry": [
                            {
                              "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                              "IntervalSeconds": 2,
                              "MaxAttempts": 3,
                              "BackoffRate": 2
                            }
                          ],
                          "Next": "DevLabelStatusChoice"
                        },
                        "DevLabelStatusChoice": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "Variable": "$.dev_label_status.status",
                              "StringEquals": "Completed",
                              "Next": "ProcessDevLabels"
                            },
                            {
                              "Variable": "$.dev_label_status.status",
                              "StringEquals": "Failed",
                              "Next": "FailDevLabelJob"
                            },
                            {
                              "Variable": "$.dev_label_status.status",
                              "StringEquals": "Stopped",
                              "Next": "FailDevLabelJob"
                            }
                          ],
                          "Default": "WaitForDevLabelJob"
                        },
                        "FailDevLabelJob": {
                          "Type": "Fail",
                          "Cause": "Dev label Bedrock batch job failed or was stopped",
                          "Error": "DevLabelJobFailed"
                        },
                        "ProcessDevLabels": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "Parameters": {
                            "FunctionName": "${BedrockOrchestratorLambdaArn}",
                            "Payload": {
                              "operation": "process_dev_labels",
                              "output_s3_path.$": "$.dev_label_status.output_s3_path",
                              "dev_data_s3_path.$": "States.Format('s3://${DataBucket}/{}/dev-labeling/dev_data.jsonl', $.model_name)",
                              "model_name.$": "$.model_name"
                            }
                          },
                          "ResultSelector": {
                            "dev_labels_s3_path.$": "$.Payload.dev_labels_s3_path",
                            "num_labels.$": "$.Payload.num_labels"
                          },
                          "ResultPath": "$.dev_labels_result",
                          "End": true
                        }
                      }
                    }
                  ],
                  "ResultPath": "$.parallel_results",
                  "Next": "StartSageMakerTraining"
                },
                "StartSageMakerTraining": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sagemaker:createTrainingJob",
                  "Comment": "Train with KL divergence distillation, dev eval every N steps, early stopping",
                  "Parameters": {
                    "TrainingJobName.$": "States.Format('finetune-{}', $$.Execution.Name)",
                    "AlgorithmSpecification": {
                      "TrainingImage": "${TrainingImageGPU}",
                      "TrainingInputMode": "File"
                    },
                    "InputDataConfig": [
                      {
                        "ChannelName": "training",
                        "DataSource": {
                          "S3DataSource": {
                            "S3Uri.$": "$.parallel_results[0].scoring_artifacts",
                            "S3DataType": "S3Prefix"
                          }
                        }
                      },
                      {
                        "ChannelName": "dev",
                        "DataSource": {
                          "S3DataSource": {
                            "S3Uri.$": "States.Format('s3://${DataBucket}/{}/dev-labeling/', $.model_name)",
                            "S3DataType": "S3Prefix"
                          }
                        }
                      }
                    ],
                    "OutputDataConfig": {
                      "S3OutputPath.$": "States.Format('s3://${DataBucket}/{}/model-artifacts/', $.model_name)"
                    },
                    "ResourceConfig": {
                      "InstanceCount": 1,
                      "InstanceType.$": "$.training_config.training_instance_type",
                      "VolumeSizeInGB": 100
                    },
                    "StoppingCondition": {
                      "MaxRuntimeInSeconds": 86400
                    },
                    "RoleArn": "${SageMakerTrainingRoleArn}",
                    "HyperParameters": {
                      "model-name.$": "$.base_model_id",
                      "max-steps.$": "States.Format('{}', $.training_config.max_steps)",
                      "train-batch-size.$": "States.Format('{}', $.training_config.train_batch_size)",
                      "total-batch-size.$": "States.Format('{}', $.training_config.total_batch_size)",
                      "learning-rate.$": "States.Format('{}', $.training_config.learning_rate)",
                      "max-seq-length.$": "States.Format('{}', $.training_config.max_seq_length)",
                      "num-negatives.$": "States.Format('{}', $.training_config.num_negatives)",
                      "temperature.$": "States.Format('{}', $.training_config.temperature)",
                      "teacher-score-scale-factor.$": "States.Format('{}', $.training_config.teacher_score_scale_factor)",
                      "eval-steps.$": "States.Format('{}', $.training_config.eval_steps)",
                      "early-stopping-patience.$": "States.Format('{}', $.training_config.early_stopping_patience)",
                      "sagemaker_program": "train.py",
                      "sagemaker_submit_directory": "s3://${DataBucket}/training-scripts/training-script.tar.gz"
                    },
                    "EnableManagedSpotTraining": false
                  },
                  "ResultPath": null,
                  "Next": "WaitForTraining"
                },
                "WaitForTraining": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "CheckTrainingStatus"
                },
                "CheckTrainingStatus": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:sagemaker:describeTrainingJob",
                  "Parameters": {
                    "TrainingJobName.$": "States.Format('finetune-{}', $$.Execution.Name)"
                  },
                  "ResultSelector": {
                    "TrainingJobStatus.$": "$.TrainingJobStatus",
                    "S3ModelArtifacts.$": "$.ModelArtifacts.S3ModelArtifacts"
                  },
                  "ResultPath": "$.training_status",
                  "Retry": [
                    {
                      "ErrorEquals": ["SageMaker.SageMakerException"],
                      "IntervalSeconds": 10,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "TrainingStatusChoice"
                },
                "TrainingStatusChoice": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.training_status.TrainingJobStatus",
                      "StringEquals": "Completed",
                      "Next": "SetTrainingOutput"
                    },
                    {
                      "Variable": "$.training_status.TrainingJobStatus",
                      "StringEquals": "Failed",
                      "Next": "FailTraining"
                    },
                    {
                      "Variable": "$.training_status.TrainingJobStatus",
                      "StringEquals": "Stopped",
                      "Next": "FailTraining"
                    }
                  ],
                  "Default": "WaitForTraining"
                },
                "FailTraining": {
                  "Type": "Fail",
                  "Cause": "SageMaker training job failed or stopped",
                  "Error": "TrainingJobFailed"
                },
                "SetTrainingOutput": {
                  "Type": "Pass",
                  "Parameters": {
                    "ModelArtifacts": {
                      "S3ModelArtifacts.$": "$.training_status.S3ModelArtifacts"
                    }
                  },
                  "ResultPath": "$.training_job_result",
                  "Next": "CheckDeployEndpoint"
                },
                "CheckDeployEndpoint": {
                  "Type": "Choice",
                  "Comment": "Check if endpoint deployment is requested",
                  "Choices": [
                    {
                      "Variable": "$.deploy_endpoint",
                      "StringEquals": "true",
                      "Next": "CreateSageMakerModel"
                    }
                  ],
                  "Default": "SuccessTrainingOnly"
                },
                "SuccessTrainingOnly": {
                  "Type": "Succeed",
                  "Comment": "Training completed. Endpoint deployment skipped."
                },
                "CreateSageMakerModel": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sagemaker:createModel",
                  "Parameters": {
                    "ModelName.$": "States.Format('{}-model', $.model_name)",
                    "PrimaryContainer": {
                      "Image": "${TEIImage}",
                      "ModelDataUrl.$": "$.training_job_result.ModelArtifacts.S3ModelArtifacts",
                      "Environment": {
                        "HF_MODEL_ID": "/opt/ml/model",
                        "TRUST_REMOTE_CODE": "true"
                      }
                    },
                    "ExecutionRoleArn": "${SageMakerEndpointRoleArn}"
                  },
                  "ResultPath": "$.model_result",
                  "Next": "CreateEndpointConfig"
                },
                "CreateEndpointConfig": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
                  "Parameters": {
                    "EndpointConfigName.$": "States.Format('{}-config', $.model_name)",
                    "ProductionVariants": [
                      {
                        "VariantName": "AllTraffic",
                        "ModelName.$": "States.Format('{}-model', $.model_name)",
                        "InitialInstanceCount.$": "$.deployment_config.initial_instance_count",
                        "InstanceType.$": "$.deployment_config.inference_instance_type"
                      }
                    ]
                  },
                  "ResultPath": "$.endpoint_config_result",
                  "Next": "CreateEndpoint"
                },
                "CreateEndpoint": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sagemaker:createEndpoint",
                  "Parameters": {
                    "EndpointName.$": "States.Format('{}-endpoint', $.model_name)",
                    "EndpointConfigName.$": "States.Format('{}-config', $.model_name)"
                  },
                  "ResultPath": "$.endpoint_result",
                  "Next": "WaitForEndpoint"
                },
                "WaitForEndpoint": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "CheckEndpointStatus"
                },
                "CheckEndpointStatus": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:sagemaker:describeEndpoint",
                  "Parameters": {
                    "EndpointName.$": "States.Format('{}-endpoint', $.model_name)"
                  },
                  "ResultPath": "$.endpoint_status_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["SageMaker.SageMakerException"],
                      "IntervalSeconds": 10,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "EndpointStatusChoice"
                },
                "EndpointStatusChoice": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.endpoint_status_result.EndpointStatus",
                      "StringEquals": "InService",
                      "Next": "CheckRegisterConnector"
                    },
                    {
                      "Variable": "$.endpoint_status_result.EndpointStatus",
                      "StringEquals": "Failed",
                      "Next": "FailEndpointCreation"
                    }
                  ],
                  "Default": "WaitForEndpoint"
                },
                "FailEndpointCreation": {
                  "Type": "Fail",
                  "Cause": "SageMaker endpoint creation failed",
                  "Error": "EndpointCreationFailed"
                },
                "CheckRegisterConnector": {
                  "Type": "Choice",
                  "Comment": "Check if OpenSearch connector registration is requested",
                  "Choices": [
                    {
                      "Variable": "$.register_connector",
                      "StringEquals": "true",
                      "Next": "RegisterToOpenSearch"
                    }
                  ],
                  "Default": "SuccessEndpointOnly"
                },
                "SuccessEndpointOnly": {
                  "Type": "Succeed",
                  "Comment": "Endpoint deployed. Connector registration skipped."
                },
                "RegisterToOpenSearch": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${RegisterModelLambdaArn}",
                    "Payload": {
                      "opensearch_endpoint.$": "$.opensearch_endpoint",
                      "sagemaker_endpoint_name.$": "States.Format('{}-endpoint', $.model_name)",
                      "model_name.$": "$.model_name"
                    }
                  },
                  "ResultSelector": {
                    "connector_id.$": "$.Payload.connector_id",
                    "model_group_id.$": "$.Payload.model_group_id",
                    "model_id.$": "$.Payload.model_id"
                  },
                  "ResultPath": "$.registration_result",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "Success"
                },
                "Success": {
                  "Type": "Succeed",
                  "Comment": "Fine-tuning pipeline completed successfully"
                }
              }
            }
          - DataExtractorLambdaArn: !GetAtt DataExtractorLambda.Arn
            S3ValidatorLambdaArn: !GetAtt S3ValidatorLambda.Arn
            BedrockOrchestratorLambdaArn: !GetAtt BedrockOrchestratorLambda.Arn
            RegisterModelLambdaArn: !GetAtt RegisterModelLambda.Arn
            TrainingImageGPU: !FindInMap [RegionMap, !Ref "AWS::Region", TrainingImageGPU]
            TEIImage: !FindInMap [RegionMap, !Ref "AWS::Region", TEIImage]
            DataBucket: !Ref DataBucket
            TrainingInstanceType: !Ref TrainingInstanceType
            SageMakerTrainingRoleArn: !GetAtt SageMakerTrainingRole.Arn
            SageMakerEndpointRoleArn: !GetAtt SageMakerEndpointRole.Arn
            MaxSteps: !Ref MaxSteps
            LearningRate: !Ref LearningRate
            MaxSeqLength: !Ref MaxSeqLength
            InitialInstanceCount: !Ref InitialInstanceCount
            InferenceInstanceType: !Ref InferenceInstanceType
            ScoringInstanceType: !Ref ScoringInstanceType
            ProcessingInstanceType: !Ref ProcessingInstanceType
            TrainBatchSize: !Ref TrainBatchSize
            EvalSteps: !Ref EvalSteps
            EarlyStoppingPatience: !Ref EarlyStoppingPatience

  # =============================================================================
  # Auto-Trigger Workflow (starts Step Functions automatically on deployment)
  # =============================================================================
  TriggerLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-TriggerWorkflow"
      Runtime: python3.12
      Handler: index.lambda_handler
      Timeout: 60
      MemorySize: 128
      Role: !GetAtt TriggerLambdaRole.Arn
      Code:
        ZipFile: |
          import boto3
          import cfnresponse
          import json

          def lambda_handler(event, context):
              print(f"Event: {event}")
              request_type = event['RequestType']

              if request_type == 'Delete':
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  return

              if request_type == 'Update':
                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {})
                  return

              try:
                  props = event['ResourceProperties']
                  sfn = boto3.client('stepfunctions')

                  input_payload = json.loads(props['ExecutionInput'])

                  response = sfn.start_execution(
                      stateMachineArn=props['StateMachineArn'],
                      input=json.dumps(input_payload)
                  )

                  cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                      'ExecutionArn': response['executionArn']
                  })
              except Exception as e:
                  print(f"Error: {str(e)}")
                  cfnresponse.send(event, context, cfnresponse.FAILED, {'Error': str(e)})

  # Custom Resource to Auto-Trigger Workflow on Deployment
  AutoTriggerWorkflow:
    Type: Custom::TriggerWorkflow
    DependsOn:
      - FineTuneStateMachine
      - DownloadLambdaZips
    Properties:
      ServiceToken: !GetAtt TriggerLambdaFunction.Arn
      StateMachineArn: !Ref FineTuneStateMachine
      ExecutionInput: !If
        - UseS3Input
        - !Sub |
            {
              "input_type": "s3",
              "s3_corpus_path": "${S3CorpusPath}",
              "opensearch_endpoint": "${OpenSearchEndpoint}",
              "deploy_endpoint": "${DeployEndpoint}",
              "register_connector": "${RegisterConnector}",
              "index_name": "",
              "text_fields": "",
              "model_name": "${ModelName}",
              "base_model_id": "${BaseModelId}",
              "max_corpus_documents": ${MaxCorpusDocuments},
              "max_query_documents": ${MaxQueryDocuments},
              "sample_query_uri": "${SampleQueryUri}",
              "scoring_config": {},
              "training_config": {},
              "deployment_config": {}
            }
        - !Sub |
            {
              "input_type": "opensearch",
              "s3_corpus_path": "",
              "opensearch_endpoint": "${OpenSearchEndpoint}",
              "deploy_endpoint": "${DeployEndpoint}",
              "register_connector": "${RegisterConnector}",
              "index_name": "${OpenSearchIndexName}",
              "text_fields": "${TextFieldNames}",
              "model_name": "${ModelName}",
              "base_model_id": "${BaseModelId}",
              "max_corpus_documents": ${MaxCorpusDocuments},
              "max_query_documents": ${MaxQueryDocuments},
              "sample_query_uri": "${SampleQueryUri}",
              "scoring_config": {},
              "training_config": {},
              "deployment_config": {}
            }

# =============================================================================
# Outputs
# =============================================================================
Outputs:
  DataBucketName:
    Description: "S3 bucket for data, training artifacts, and model artifacts"
    Value: !Ref DataBucket
    Export:
      Name: !Sub "${AWS::StackName}-DataBucket"

  StateMachineArn:
    Description: "Step Functions State Machine ARN for orchestrating the pipeline"
    Value: !Ref FineTuneStateMachine
    Export:
      Name: !Sub "${AWS::StackName}-StateMachineArn"

  DataExtractorLambdaArn:
    Description: "Data Extractor Lambda ARN (invoke directly for standalone extraction)"
    Value: !GetAtt DataExtractorLambda.Arn
    Export:
      Name: !Sub "${AWS::StackName}-DataExtractorLambda"

  S3ValidatorLambdaArn:
    Description: "S3 Validator Lambda ARN (invoke directly for standalone validation)"
    Value: !GetAtt S3ValidatorLambda.Arn
    Export:
      Name: !Sub "${AWS::StackName}-S3ValidatorLambda"

  BedrockOrchestratorLambdaArn:
    Description: "Bedrock Orchestrator Lambda ARN (invoke directly for standalone batch jobs)"
    Value: !GetAtt BedrockOrchestratorLambda.Arn
    Export:
      Name: !Sub "${AWS::StackName}-BedrockOrchestratorLambda"

  RegisterModelLambdaArn:
    Description: "Register Model Lambda ARN (invoke directly for standalone registration)"
    Value: !GetAtt RegisterModelLambda.Arn
    Export:
      Name: !Sub "${AWS::StackName}-RegisterModelLambda"

  SageMakerTrainingRoleArn:
    Description: "SageMaker Training Role ARN"
    Value: !GetAtt SageMakerTrainingRole.Arn
    Export:
      Name: !Sub "${AWS::StackName}-SageMakerTrainingRole"

  SageMakerEndpointRoleArn:
    Description: "SageMaker Endpoint Role ARN"
    Value: !GetAtt SageMakerEndpointRole.Arn
    Export:
      Name: !Sub "${AWS::StackName}-SageMakerEndpointRole"

  OpenSearchRemoteInferenceRoleArn:
    Description: "OpenSearch Remote Inference Role ARN (map to ml_full_access in OpenSearch)"
    Value: !GetAtt OpenSearchRemoteInferenceRole.Arn
    Export:
      Name: !Sub "${AWS::StackName}-OpenSearchRemoteInferenceRole"

  FineTuningLambdaInvokeOpenSearchRoleArn:
    Description: >
      Lambda OpenSearch Role ARN. IMPORTANT: Before deploying this stack, map this role
      to OpenSearch backend roles: (1) 'ml_full_access' for model registration operations,
      (2) A role with index read access for data extraction. Use OpenSearch Dashboards
      Security -> Roles -> [role] -> Mapped users -> Map backend role.
    Value:
      Fn::Sub: "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/${FineTuningLambdaInvokeOpenSearchRoleName}"
    Export:
      Name: !Sub "${AWS::StackName}-FineTuningLambdaInvokeOpenSearchRole"

  BedrockBatchRoleArn:
    Description: "Bedrock Batch Job Role ARN"
    Value: !GetAtt BedrockBatchRole.Arn
    Export:
      Name: !Sub "${AWS::StackName}-BedrockBatchRole"

  StateMachineInputExampleS3:
    Description: "Example input JSON for starting the State Machine with S3 corpus"
    Value: !Sub |
      {
        "input_type": "s3",
        "s3_corpus_path": "s3://your-bucket/corpus.jsonl",
        "opensearch_endpoint": "https://your-domain.${AWS::Region}.es.amazonaws.com",
        "deploy_endpoint": "${DeployEndpoint}",
        "register_connector": "${RegisterConnector}",
        "index_name": "",
        "text_fields": "",
        "model_name": "${ModelName}",
        "base_model_id": "${BaseModelId}",
        "max_corpus_documents": ${MaxCorpusDocuments},
        "max_query_documents": ${MaxQueryDocuments},
        "sample_query_uri": "",
        "scoring_config": {},
        "training_config": {},
        "deployment_config": {}
      }

  StateMachineInputExampleOpenSearch:
    Description: "Example input JSON for starting the State Machine with OpenSearch extraction"
    Value: !Sub |
      {
        "input_type": "opensearch",
        "s3_corpus_path": "",
        "opensearch_endpoint": "https://your-domain.${AWS::Region}.es.amazonaws.com",
        "deploy_endpoint": "${DeployEndpoint}",
        "register_connector": "${RegisterConnector}",
        "index_name": "your-index",
        "text_fields": "title,content",
        "model_name": "${ModelName}",
        "base_model_id": "${BaseModelId}",
        "max_corpus_documents": ${MaxCorpusDocuments},
        "max_query_documents": ${MaxQueryDocuments},
        "sample_query_uri": "",
        "scoring_config": {},
        "training_config": {},
        "deployment_config": {}
      }

  StateMachineInputExampleWithConfig:
    Description: "Example input JSON with custom config to override defaults"
    Value: !Sub |
      {
        "input_type": "s3",
        "s3_corpus_path": "s3://your-bucket/corpus.jsonl",
        "opensearch_endpoint": "https://your-domain.${AWS::Region}.es.amazonaws.com",
        "deploy_endpoint": "${DeployEndpoint}",
        "register_connector": "${RegisterConnector}",
        "index_name": "",
        "text_fields": "",
        "model_name": "${ModelName}",
        "base_model_id": "${BaseModelId}",
        "max_corpus_documents": ${MaxCorpusDocuments},
        "max_query_documents": ${MaxQueryDocuments},
        "sample_query_uri": "",
        "scoring_config": {
          "scoring_instance_type": "${ScoringInstanceType}",
          "scoring_batch_size": "4",
          "scoring_max_negatives": "4"
        },
        "training_config": {
          "training_instance_type": "${TrainingInstanceType}",
          "processing_instance_type": "${ProcessingInstanceType}",
          "max_steps": "${MaxSteps}",
          "learning_rate": "${LearningRate}",
          "max_seq_length": "${MaxSeqLength}",
          "train_batch_size": "${TrainBatchSize}",
          "total_batch_size": "128",
          "num_negatives": "2",
          "temperature": "1.0",
          "teacher_score_scale_factor": "0.025",
          "eval_steps": "${EvalSteps}",
          "early_stopping_patience": "${EarlyStoppingPatience}"
        },
        "deployment_config": {
          "inference_instance_type": "${InferenceInstanceType}",
          "initial_instance_count": ${InitialInstanceCount}
        }
      }

  ExecutionArn:
    Description: "Step Functions execution ARN (auto-started on deployment)"
    Value: !GetAtt AutoTriggerWorkflow.ExecutionArn
    Export:
      Name: !Sub "${AWS::StackName}-ExecutionArn"
